.custom-blue-btn {
  background-color: #3498DB !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
}
.custom-blue-btn:hover {
  background-color: #2980b9 !important;
}

.custom-input {
    border-radius: 5px !important;
}

.custom-divider {
  color: #999 !important;
  border-color: #ddd !important;
}

.custom-login-google {
  background-color: #db4437 !important;
  color: white !important;
  border-radius: 5px !important;
  border: none !important;
}

.custom-login-google:hover {
  background-color: #c23321 !important;
}
